#login-container {
  margin-top: 10%;
  margin-bottom: 129px;
}

#login-container h2,
#login-container button,
#login-container form {
  width: 100%;
}

#login-container button {
  margin-top: 15px;
}

#login-container .form-label {
  float: left;
}

#register {
  color: rgb(33, 65, 95);
}

#boton {
  background-color: rgb(33, 65, 95);
}
