h1 {
  margin-top: 300px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  gap: 20px;
  background: rgb(87, 35, 35);
  height: auto;
}

#sidebar > a {
  text-decoration: solid;
  text-rendering: auto;
  color: #eee6e6;
  font-size: 18px;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, cursive;
  height: auto;
  display: flex;
  align-items: center;
  padding: 0 5px;
  border-radius: 15px;
  border: 1px solid rgb(102, 175, 218);
}

#sidebar a:hover {
  background-color: rgb(18, 85, 139);
  color: rgb(168, 158, 158);
}

span {
  margin-left: 16px;
}
