#navbar #dropdown-header .row:nth-child(1) {
  font-size: 60px;
  display: flex;
  justify-content: center;
}

#navbar #dropdown-header .row:nth-child(2) {
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  background-color: aqua;
}
#navbar {
  background: rgb(116, 12, 12);
  background: radial-gradient(
    circle,
    rgb(85, 12, 12) 0%,
    rgba(177, 183, 223, 1) 100%,
    rgba(148, 187, 233, 1) 100%
  );
}
.logo {
  /* cambia estos dos valores para definir el tamaño de tu círculo */
  height: 70px;
  width: 10%;
  padding-right: 20px;

  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 50% auto;
}
